body {

    font-family: 'Arial', Times, serif;
    font-size: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    background: #b4af9f;
}

#soruces {
    border-top: dashed #04AA6D;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'head  head head head head' 
        'infoL main main main infoR'
        'infoL main main main infoR';   
}

/* spesifiserer item class til grid-container*/
.head {
    position: relative;
    grid-area: head;
    overflow: hidden;
    min-width: max-content;
    width: 100%;
    height: 65px;
    background-color: #333333;
    filter: drop-shadow(8px 8px 15px gray);
    
}

.head > h2 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.head > h2:hover {
    background-color: #ddd;
    color: black;
}
  
.head > h2.active {
    background-color: #04AA6D;
    color: white;
}

.main {
    grid-area: main;
    padding: 20px;
    margin: 0;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    color: black;
}

.infoR {
    padding: 0;
    margin: 0;
    position: relative;
    grid-area: infoR;
    width: 220px;
    height: 100%;
    background-color: #FFC700;
    color: white;
    filter: drop-shadow(-8px 10px 15px gray);
}

.content {
    float: top;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.content:hover {
    background-color: #ddd;
    color: black;
}

.infoL {
    padding: 0;
    margin: 0;
    position: relative;
    grid-area: infoL;
    width: 220px;
    height: 100%;
    background-color: #FFC700;
    color: black;
    text-align: center;
    filter: drop-shadow(8px 10px 15px gray);
}

/* styles an id */
#botInfo {
    border: hidden;
    border-style: dotted hidden hidden hidden;
    align-content: center;
    text-align: center
}