body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #FFC700;
}
ul.list { 
    list-style-type: disc;
    list-style-position: outside;
}

/* spesifiserer item class til grid-container*/
.head {
    padding: 0;
    margin: 0;
    position: relative;
    grid-area: head;
    width: 100%;
    height: 65px;
    background-color: #333333;
    color: white;
    text-align: justify;
    border: 1px solid red;
    }

.main {grid-area: main;}

.infoR {
    grid-area: infoR;
    max-width: 20   0px;
}
.infoL {
    padding: 0px;
    margin: 0px;
    grid-area: infoL;
    position: relative;
    background: red;
    height: 100%;
    border: 1px solid black;
}
.foot {grid-area: foot;}

.grid-container {
    display: grid;
    grid-template-areas: 
        'head head head head head'
        'infoL main main main infoR'
        'infoL foot foot foot infoR';
        gap: 5px;
}

.container {
    display: flex;
    width: auto;
    margin: 5px;
    padding: 5px;
    border: 3px rgb(85, 67, 88) solid;
    border-radius: 5px;
}
.head > #p1 {
    position: absolute;
    left: 25%;
    top: 40%;
}
.head > #p2 {
    position: absolute;
    left: 35%;
    top: 40%;
}
.head > #p3 {
    position: absolute;
    left: 45%;
    top: 40%;
}
.head > #p4 {
    position: absolute;
    left: 55%;
    top: 40%;
}
.head > #p5 {
    position: absolute;
    left: 65%;
    top: 40%;
}
.head > #p6 {
    position: absolute;
    left: 75%;
    top: 40%;
}

/* main har også en liten grid */
.main > container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
}


/* styles h2 specifically within container */
.container > h2 {
    text-align: center;
    margin: 10px;
}

/* styles all images within container */
.container > img {
    height: auto;
    width: 100px;
}

/* styles an id */
#botInfo {
    border: hidden;
    border-style: dotted hidden hidden hidden;
    align-content: center;
    text-align: center
}