body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #FFC700;
}
ul.list { 
    list-style-type: disc;
    list-style-position: outside;
}

/* spesifiserer item class til grid-container*/
.head {
    padding: 0;
    margin: 0;
    position: relative;
    grid-area: head;
    width: 100%;
    height: 65px;
    background-color: #333333;
    color: white;
    text-align: justify;
    filter: drop-shadow(8px 8px 15px gray);
    }

.main {
    grid-area: main;
    padding: 20px;
    margin: 0;
    height: auto;
    width: auto;
    background-color: rgb(255, 255, 255);
    color: black;
}

.infoR {
    padding: 0;
    margin: 0;
    position: relative;
    grid-area: infoR;
    width: 180px;
    height: 100%;
    background-color: #FFC700;
    color: white;
    filter: drop-shadow(-8px 10px 15px gray);
}
.infoL {
    padding: 0;
    margin: 0;
    position: relative;
    grid-area: infoL;
    width: 180px;
    height: 100%;
    background-color: #FFC700;
    color: black;
    text-align: center;
    font-size: 110%;
    filter: drop-shadow(8px 10px 15px gray);
}

.grid-container {
    display: grid;
    grid-template-areas: 
        'head  head head head head' 
        'infoL main main main infoR'
        'infoL main main main infoR';   
}

.container {

}
.head > #p1 {
    position: absolute;
    left: 25%;
    top: 40%;
}
.head > #p2 {
    position: absolute;
    left: 35%;
    top: 40%;
}
.head > #p3 {
    position: absolute;
    left: 45%;
    top: 40%;
}
.head > #p4 {
    position: absolute;
    left: 55%;
    top: 40%;
}
.head > #p5 {
    position: absolute;
    left: 65%;
    top: 40%;
}
.head > #p6 {
    position: absolute;
    left: 75%;
    top: 40%;
}

/* styles an id */
#botInfo {
    border: hidden;
    border-style: dotted hidden hidden hidden;
    align-content: center;
    text-align: center
}